<div class="row">
    <div class="col">
        <div class="row no-gutters mt-3 align-items-center">
            <div class="col logo">VASA</div>
            <div class="col"><button class="float-right admin-btn" (click)="logout()">logout</button></div>
        </div>

        <div class="row no-gutters mt-5">

            <div class="col">
                <button class="admin-btn" (click)="goToEditor()">
                    New Blog
                </button>
            </div>
            <div class="col-12 col-lg-auto">

                <input class="blog-search pl-2 mt-2 mt-lg-0" type="text" name="filter" [(ngModel)]="filter"
                    (input)="filterInput()" placeholder="search blog">


            </div>
            <div class="col-12 col-lg-auto">

                <select *ngIf="categories" name="categories" class="ml-lg-2 mt-2 mt-lg-0 select-category"
                    (change)="onChangeCategory($event)">
                    <option *ngFor="let category of categories" value="{{category.name}}">{{ category.name }}</option>
                </select>

                <button class="search-category-btn ml-2 mt-2 mt-lg-0" (click)="searchByCategory()"><i
                        class="fas fa-search"></i></button>

            </div>


        </div>

        <div class="row no-gutters admin-table mt-5">
            <div class="col">

                <table *ngIf="filteredBlogs" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Date Created</th>
                            <th scope="col">Date Modified</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let blog of filteredBlogs">
                            <th scope="row">{{ blog.title | replaceDash }}</th>
                            <td>{{ blog.createdAt | date }}</td>
                            <td>{{ blog.updatedAt | date}}</td>
                            <td><a href="#" (click)="deleteBlog(blog.title)" class="table-btn"><i
                                        class="fas fa-trash-alt"></i></a></td>
                            <td><a [routerLink]="['/editor', blog.title]" class="table-btn"><i class="fas fa-pencil-alt"></i></a></td>
                        </tr>
                        <tr *ngIf="!filteredBlogs.length">
                            <td colspan="5" class="text-center">
                                no match found
                            </td>
                        </tr>
                    </tbody>
                </table>



            </div>
        </div>



    </div>
</div>