<div class="row">
    <div class="col">
        <div class="row no-gutters mt-3 align-items-center">
            <div class="col logo">VASA</div>
            <div class="col"><button class="float-right admin-btn" (click)="logout()">logout</button></div>
        </div>

        <button class="admin-btn my-4" (click)="goToDashboard()">Go Back</button>

        <h5 class="mb-4">Blog title: {{ blog.title }}</h5>

        <form>
            <div class="row no-gutters">
                <div class="col-12 col-lg-auto">
                    <label for="title" class="d-block">Title</label>
                    <input type="text" class="blog-title pl-2" (input)="onTitleInput()"
                        [ngModel]="blog.title | replaceDash" (ngModelChange)="blog.title=$event" type="text"
                        name="title" id="title">
                    <div *ngIf="errors.title">
                        <div class="validation-err">{{ errors.title }}</div>
                    </div>

                    <label for="category" class="d-block mt-2">Category</label>
                    <select *ngIf="selectedCategory" name="category" class="select-category"
                        (change)="onCategorySelected($event)">
                        <option *ngFor="let category of categories" value="{{category.name}}"
                            [selected]="category.name === selectedCategory.name ? 'true' : null">{{ category.name }}
                        </option>
                    </select>
                    <div *ngIf="errors.category">
                        <div class="validation-err">{{ errors.category }}</div>
                    </div>

                    <label for="image" class="d-block mt-2">Image</label>
                    <input type="file" accept="image/png, image/jpeg" class="d-none" (change)="onFileSelected($event)"
                        name="image" id="image">
                    <label for="image" name="image" class="image-select mb-0"><i
                            class="fas fa-camera-retro"></i></label>
                    <span *ngIf="!imagePreview" class="ml-2">no file selected</span>
                    <span *ngIf="blog.image"
                        class="ml-2">{{ blog.image.name.length>15 ? (blog.image.name | slice:0:15) + '...' : (blog.image.name) }}</span>
                    <div *ngIf="errors.image">
                        <div class="validation-err">{{ errors.image }}</div>
                    </div>

                    <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" class="img-preview d-block">

                </div>
                <div class="col ml-lg-5">
                    <label for="content" class="d-block mt-2 mt-lg-0">Content</label>
                    <textarea class="w-100 blog-content" (input)="onContentInput()" [(ngModel)]="blog.content"
                        name="content" id="content" cols="30" rows="10"></textarea>
                    <div *ngIf="errors.content">
                        <div class="validation-err">{{ errors.content }}</div>
                    </div>
                </div>

            </div>


            <div class="row no-gutters mb-5">
                <div class="col">
                    <button [disabled]="disableButton" class="admin-btn float-right" (click)="postBlog()">Post</button>
                </div>
            </div>
        </form>


    </div>
</div>