div.logo {
  font-size: 30px;
}

select.select-category {
  height: 30px;
  border: 1px solid #000;
  outline: none;
}

input.blog-title {
  border: 1px solid #000;
  outline: none;
  height: 30px;
}

textarea.blog-content {
  border: 1px solid #000;
  outline: none;
}

label.image-select {
  cursor: pointer;
}

button.admin-btn:disabled{
  border-color: #9c9c9c;
  color: #9c9c9c;
  background-color: #fff;
}
